.boost {
  background-color: $dark-violet;
  background-image: url(../assets/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.boost h2{
  color: white;
  margin-bottom: 30px;
}

.boost .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.boost .bubble {
  width: 17%;
}
