nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-weight: 700;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 0px;
  text-align: center;
  color: $gray-violet;
  a:hover{
    color: $very-dark-blue;
  }
}

nav a {
  font-size: 0.95rem;
}

.sign-up {
  li:hover{
    background-color: $cyan;
    box-shadow:inset 0 0 0 100px rgba(255,255,255,0.5);
    color: white;
    cursor: pointer;
  }
}

.sign-up li{
  color: white;
  background-color: $cyan;
  border-radius: 50px;
  padding: 0px;
  a:hover{
    color: white;
  }
}

// expands anchor tag to whole box
.sign-up li a {
  margin: 0px;
  padding: 10px 25px 10px;
  display: block;
  width: 100%;
  height: 100%;
}

// mobile navigation
.mobile-nav {
  display: none;
  position: relative;
}

#hamburger-dropdown:hover{
  cursor: pointer;
}

#nav-content {
  display: flex;
  position: absolute;
  top: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-violet;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

.nav-content-1, .nav-content-2 {
  display: flex;
  flex-direction: column;
  li {
    color: white;
  }
}


.nav-content-1 {
  margin-top: 30px;
  width: 90%;
}

.nav-content-1 li {
  width: 100%;
  margin-bottom: 30px;
    background-color: $dark-violet;
}

.nav-content-1 li:last-child {
  border-bottom: 1px solid $gray-violet;
  padding-bottom: 30px;
}

.nav-content-2 {
  width: 80%;
}
.nav-content-2 li {
  margin-bottom: 30px;
  width: 100%;
    background-color: $dark-violet;
}
