html{
  font-size: 112.5%;
  font-family: $mainFont;
  overflow-x: hidden;
  border: none;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
}

ul {
	list-style: none;
}

p {
  line-height: 1.5;
}

a {
	text-decoration: none;
	cursor: pointer;
}

