.url-shortener .wrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: $dark-violet;
  background-image: url(../assets/bg-shorten-desktop.svg);
  background-size: cover;
  height: 8rem;
  transform: translate(0, 50%);
}

.url-shortener form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.url-shortener #url-input {
  width:77.5%;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 25px 0px;
}

.url-shortener #url-shorten {
  width: 12.5%;
  padding: 10px;
  border-radius: 10px;
}